@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

:root {
  --header-bg: #212121; /* 900 */

  --app-bg: #fafafa; /* 100 */

  --mobile-nav-bg: #fff;
  --mobile-nav-btns: #757575; /* 600 */
  --mobile-nav-btn-standout: #424242; /* 800 */
}

* {
  box-sizing: border-box;
}

html {
  padding: 10px;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
}

.App {
  overflow-y: auto;
  background-color: var(--app-bg);
  min-height: calc(100vh - 20px);
}

.content {
  border-radius: 10px;
  padding: 10px;
}

.mt-0 {
  margin-top: 0;
}

.w-75 {
  width: 75%;
}

.w-25 {
  width: 25%;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.subtitle {
  color: #212121;
  font-weight: 400;
}
