@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

html {
  padding: 20px;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
}

.App {
  text-align: center;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.complete {
  text-decoration: line-through;
}

table {
  width: 100%;
}

.todo-row {
  cursor: pointer;
}

.todo-row td {
  padding: 5px;
}
