@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

:root {
  --primary-dark: #2d142c;
  --secondary-dark: #510a32;
  --middle: #801336;
  --primary-light: #c72c41;
  --secondary-light: #ee4540;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  width: calc(100% - 20px);
  padding: 10px;
}

.App {
  overflow-y: auto;
}

.complete {
  text-decoration: line-through;
}

.subtitle-with-border span {
  border-bottom: solid 4px var(--middle);
  color: #444;
  font-weight: 400;
}

#todo-table {
  width: 100%;
  text-align: left;
}

.todo-row {
  cursor: pointer;
}

.todo-row td {
  padding: 5px;
  border-bottom: 1px solid #fff;
}
