#mobile-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  bottom: 0;
  left: 0;

  height: 50px;

  padding: 10px;
  width: 100%;
  background-color: var(--mobile-nav-bg);
}

#mobile-nav .btn {
  padding: 10px;
  color: var(--mobile-nav-btns);
  font-size: 22px;
}

#mobile-nav .btn.standout {
  padding: 15px;
  border-radius: 50%;
  background-color: var(--mobile-nav-btn-standout);
  color: #fff;
  margin-bottom: 50px;
  font-size: 30px;
  box-shadow: 0 0 0 5px var(--mobile-nav-bg);
}
